body{
    background: lightblue;
}

a{
    color:white;
    background-color: blue;
  }
  a:hover{
    color:white;
    background-color: darkblue;
    animation-name: background-color;
    animation-duration: 1s;
  }